<h1><%= @topics.id ? 'Edit Topic' : 'Create Topic' %></h1>
<hr/>
<%= form_for [@subs, @topics] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br/>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <%= f.submit %>
  <% end %>